.awcache/
.git/
.github/
.nyc_output/

config/
deploy/
docs/example-*
node_modules/
out/*.db
out/*.html
out/*.json
out/*.map
out/api/
out/cache/
out/coverage/
out/coverage-*
out/docs/
out/typings/
out/src/
out/test/
out/tmp/
scripts/
src/
temp/
test/
vendor/

.codeclimate.yml
.dockerignore
.gitlab-ci.yml
.gitmodules
.mdlrc

Dockerfile
licensed.yml
Makefile
renovate.json
tsconfig.json
yarn-*
